body{
	color: #FFF;
	background-color: #000;
}
footer{
	display: none!important;
}
header{
	display: none!important;
}
.form-group.field-db{
	display: none!important;
}

.color_max{
	color: #ef7204;
}

.color_error{
	color: #FFF;
	font-size: 15px;
}

p{
	font-size: 17px;
}
p.text_justify{
	text-align: justify;
}

.btn-max{
	background-color: #FFF!important;
	border-color: #FFF!important;
	color: #000!important;
}

#input_password{
	max-width: 435px;
	margin:	auto;
}